<form [formGroup]="sendChangePasswordForm" (ngSubmit)="sendChangePassword()" class="form-sendChangePassword col-md-5"
    style="left: 28%; top: 20%; position: absolute;">
    <h1 class="mt-5" style="display: flex; align-items: center; justify-content: center;">Şifre Değiştir</h1>
    <div class="container">
        <label for="mail"><b>Kullanıcı Mail</b></label>
        <div class="form-group">
            <input type="email" id="email" name="email" formControlName="email" class="form-control"
                placeholder="Kullanıcı Mail" autofocus>
            <span class="help-block"
                *ngIf="sendChangePasswordForm.get('email')?.hasError('required') && sendChangePasswordForm.get('email')?.touched">
                Kullanıcı mail adresi girilmesi zorunludur.
            </span>
        </div>
        <label for="psw"><b>Şifre</b></label>
        <div class="form-group">
            <input type="password" id="password" name="password" formControlName="password" class="form-control"
                placeholder="Şifre">
            <span class="help-block"
                *ngIf="sendChangePasswordForm.get('password')?.hasError('required') && sendChangePasswordForm.get('password')?.touched">
                Şifre girilmesi zorunludur.
            </span>
            <span class="help-block"
                *ngIf="sendChangePasswordForm.get('password')?.hasError('minlength') && sendChangePasswordForm.get('password')?.touched">
                Şifre en az 5 karakter boyutunda olmalıdır.
            </span>
            <span class="help-block"
                *ngIf="sendChangePasswordForm.get('password')?.hasError('maxlength') && sendChangePasswordForm.get('password')?.touched">
                Şifre en fazla 12 karakter boyutunda olmalıdır.
            </span>

        </div>
        <label for="psw"><b>Şifre Onayla</b></label>
        <div class="form-group">
            <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
                class="form-control" placeholder="Şifre doğrula">
            <span class="help-block"
                *ngIf="sendChangePasswordForm.get('confirmPassword')?.hasError('required') && sendChangePasswordForm.get('confirmPassword')?.touched">
                Şifre doğrulama zorunludur.
            </span>
            <span class="help-block"
                *ngIf="sendChangePasswordForm.get('confirmPassword')?.touched && sendChangePasswordForm?.hasError('misMatch')">
                Şifre doğrulama başarısız.
            </span>
        </div>
        <button class="btn btn-lg btn-primary btn-block bg-dark" [disabled]="!sendChangePasswordForm.valid"
            type="submit">Şifremi Değiştir</button>
    </div>
</form>