<style>
    table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #593196;
  background: linear-gradient(#593196, #7a61a0);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}
th:last-child {
  border-top-right-radius: 5px;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #593196;
  display: block;
}
.text-offset {
  color: #7c7c80;
  font-size: 12px;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
  color: #593196;
  font-weight: bold;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
</style>

<main role="main" class="container">
    <div class="row">
        
        <div *ngIf="file" class="col-md-8">
            <h2 class="mt-3 mb-4 pt-3">Doküman Detayları</h2>
            <ul *ngIf="file">
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Dosya Yolu</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Boyut</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <strong class="book-title">{{file.id}}</strong>
                        </td>
                        <td>{{file.name}}</td>
                        <td>{{file.path}}</td>
                        <td>{{file.category}}</td>
                        <td>{{file.length}} KB</td>
                      </tr>
                      
                  </table>

                <!--<li style="background-color: darkgrey; padding-top: 8px; padding-bottom: 8px; margin-top: 10px; margin-bottom: 10px;">
                    <strong>Doküman Id: </strong>  <span>{{file.id}}</span>
                </li>
                <li style="background-color: darkgrey; padding-top: 8px; padding-bottom: 8px; margin-top: 10px; margin-bottom: 10px;">
                    <strong>Doküman Adı: </strong>  <span>{{file.name}}</span>
                </li>
                <li style="background-color: darkgrey; padding-top: 8px; padding-bottom: 8x; margin-top: 10px; margin-bottom: 10px;">
                    <strong>Doküman Yolu: </strong>  <span>{{file.path}}</span>
                </li>
                <li style="background-color: darkgrey; padding-top: 8px; padding-bottom: 8px; margin-top: 10px; margin-bottom: 10px;">
                    <strong>Doküman Türü: </strong>  <span>{{file.contentType}}</span>
                </li>
                <li style="background-color: darkgrey; padding-top: 8px; padding-bottom: 8px; margin-top: 10px; margin-bottom: 10px;">
                    <strong>Doküman Beğeni: </strong>  <span>{{document.likes}}</span>
                </li>-->
            </ul>
        </div>
    </div>
</main>