<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="about">
        <div class="container" style="margin-top: 1.75rem;">
            <div class="space"></div>
            <div>
                <h2>Document Share Hakkında</h2>
            </div>
            <div class="space" style="margin-top: 2.5rem;"></div>
            <div>
                <div
                    class="dwo3fsh8 g5ia77u1 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv q9uorilb kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h k4urcfbm">
                    <div class="j83agx80 cbu4d94t sj5x9vvc cxgpxx05">
                        <div
                            class="rq0escxv l9j0dhe7 du4w35lb j83agx80 pfnyh3mw jifvfom9 ll8tlv6m owycx6da btwxx1t3 hv4rvrfc dati1w0a jb3vyjys b5q2rw42 lq239pai mysgfdmx hddg9phg">
                            <div
                                class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t pfnyh3mw d2edcug0 hpfvmrgz p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                                <i data-visualcompletion="css-img" class="hu5pjgll cwsop09l"
                                    style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/sPL-gWmzO4Y.png&quot;); background-position: 0px -153px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                            </div>
                            <div
                                class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t d2edcug0 hpfvmrgz rj1gh0hx buofh1pr g5gj957u o8rfisnq p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                                <div class="j83agx80 cbu4d94t ew0dbk1b irj2b8pg">
                                    <div class="qzhwtbm6 knvmm38d"><span
                                            class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m"
                                            dir="auto"><span style="font-weight: bold;">Herkese
                                                açık</span></span></div>
                                    <div class="qzhwtbm6 knvmm38d"><span
                                            class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d9wwppkn mdeji52x e9vueds3 j5wam9gi b1v8xokw m9osqain hzawbc8m"
                                            dir="auto"><span
                                                class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh e9vueds3 j5wam9gi b1v8xokw oo9gr5id">Herkes
                                                sitede kimlerin olduğunu ve neler paylaştıklarını
                                                görebilir.</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="line" style="border-top: 2px dotted black;">

            <div
                class="dwo3fsh8 g5ia77u1 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv q9uorilb kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h k4urcfbm">
                <div class="j83agx80 cbu4d94t sj5x9vvc cxgpxx05">
                    <div
                        class="rq0escxv l9j0dhe7 du4w35lb j83agx80 pfnyh3mw jifvfom9 ll8tlv6m owycx6da btwxx1t3 hv4rvrfc dati1w0a jb3vyjys b5q2rw42 lq239pai mysgfdmx hddg9phg">
                        <div
                            class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t pfnyh3mw d2edcug0 hpfvmrgz p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                            <i data-visualcompletion="css-img" class="hu5pjgll cwsop09l"
                                style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/zUs7oyGOy2y.png&quot;); background-position: 0px -126px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                        </div>
                        <div
                            class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t d2edcug0 hpfvmrgz rj1gh0hx buofh1pr g5gj957u o8rfisnq p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                            <div class="j83agx80 cbu4d94t ew0dbk1b irj2b8pg">
                                <div class="qzhwtbm6 knvmm38d"><span
                                        class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m"
                                        dir="auto"><span style="font-weight: bold;">Geçmiş</span></span>
                                </div>
                                <div class="qzhwtbm6 knvmm38d"><span
                                        class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d9wwppkn mdeji52x e9vueds3 j5wam9gi b1v8xokw m9osqain hzawbc8m"
                                        dir="auto"><span
                                            class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh e9vueds3 j5wam9gi b1v8xokw oo9gr5id">Document Share
                                            15 Ekim 2021 tarihinde kuruldu.</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="line" style="border-top: 2px dotted black;">

            <div
                class="dwo3fsh8 g5ia77u1 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv q9uorilb kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h k4urcfbm">
                <div class="j83agx80 cbu4d94t sj5x9vvc cxgpxx05">
                    <div
                        class="rq0escxv l9j0dhe7 du4w35lb j83agx80 pfnyh3mw jifvfom9 ll8tlv6m owycx6da btwxx1t3 hv4rvrfc dati1w0a jb3vyjys b5q2rw42 lq239pai mysgfdmx hddg9phg">
                        <div
                            class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t pfnyh3mw d2edcug0 hpfvmrgz p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                            <i data-visualcompletion="css-img" class="hu5pjgll cwsop09l"
                                style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/wDprmBQ8oCL.png&quot;); background-position: 0px -226px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                        </div>
                        <div
                            class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t d2edcug0 hpfvmrgz rj1gh0hx buofh1pr g5gj957u o8rfisnq p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                            <div class="j83agx80 cbu4d94t ew0dbk1b irj2b8pg">
                                <div class="qzhwtbm6 knvmm38d"><span
                                        class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m"
                                        dir="auto"><span style="font-weight: bold;">Üye Sayısı</span></span>
                                </div>
                                <div class="qzhwtbm6 knvmm38d"><span
                                        class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d9wwppkn mdeji52x e9vueds3 j5wam9gi b1v8xokw m9osqain hzawbc8m"
                                        dir="auto"><span
                                            class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh e9vueds3 j5wam9gi b1v8xokw oo9gr5id">Siteye toplam <b>{{users}}</b> kullanıcı üye oldu.</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="line" style="border-top: 2px dotted black;">

            <div
                class="dwo3fsh8 g5ia77u1 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv q9uorilb kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h k4urcfbm">
                <div class="j83agx80 cbu4d94t sj5x9vvc cxgpxx05">
                    <div
                        class="rq0escxv l9j0dhe7 du4w35lb j83agx80 pfnyh3mw jifvfom9 ll8tlv6m owycx6da btwxx1t3 hv4rvrfc dati1w0a jb3vyjys b5q2rw42 lq239pai mysgfdmx hddg9phg">
                        <div
                            class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t pfnyh3mw d2edcug0 hpfvmrgz p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                            <i data-visualcompletion="css-img" class="fa fa-file"
                                style="color: black; background-position: 0px -226px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                        </div>
                        <div
                            class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t d2edcug0 hpfvmrgz rj1gh0hx buofh1pr g5gj957u o8rfisnq p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                            <div class="j83agx80 cbu4d94t ew0dbk1b irj2b8pg">
                                <div class="qzhwtbm6 knvmm38d"><span
                                        class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m"
                                        dir="auto"><span style="font-weight: bold;">Doküman Sayısı</span></span>
                                </div>
                                <div class="qzhwtbm6 knvmm38d"><span
                                        class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d9wwppkn mdeji52x e9vueds3 j5wam9gi b1v8xokw m9osqain hzawbc8m"
                                        dir="auto"><span
                                            class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh e9vueds3 j5wam9gi b1v8xokw oo9gr5id">Sitede toplam <b>{{files}}</b> gönderi paylaşıldı.</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="line" style="border-top: 2px dotted black;">

            <div
                class="dwo3fsh8 g5ia77u1 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv q9uorilb kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h k4urcfbm">
                <div class="j83agx80 cbu4d94t sj5x9vvc cxgpxx05">
                    <div
                        class="rq0escxv l9j0dhe7 du4w35lb j83agx80 pfnyh3mw jifvfom9 ll8tlv6m owycx6da btwxx1t3 hv4rvrfc dati1w0a jb3vyjys b5q2rw42 lq239pai mysgfdmx hddg9phg">
                        <div
                            class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t pfnyh3mw d2edcug0 hpfvmrgz p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                            <i data-visualcompletion="css-img" class="hu5pjgll cwsop09l"
                                style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yT/r/LQFjDfDiKGg.png&quot;); background-position: 0px -616px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                        </div>
                        <div
                            class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t d2edcug0 hpfvmrgz rj1gh0hx buofh1pr g5gj957u o8rfisnq p8fzw8mz pcp91wgn iuny7tx3 ipjc6fyt">
                            <div class="j83agx80 cbu4d94t ew0dbk1b irj2b8pg">
                                <div class="qzhwtbm6 knvmm38d"><span
                                        class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m"
                                        dir="auto"><span style="font-weight: bold;">Yeni Gönderi Sayısı</span></span>
                                </div>
                                <div class="qzhwtbm6 knvmm38d"><span
                                        class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d9wwppkn mdeji52x e9vueds3 j5wam9gi b1v8xokw m9osqain hzawbc8m"
                                        dir="auto"><span
                                            class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh e9vueds3 j5wam9gi b1v8xokw oo9gr5id">Bugün <b>10</b> yeni gönderi yayınlandı.</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>