<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="form-changePassword col-md-5"
    style="margin-top: 24px;left: 28%; top: 20%; position: absolute;">
    <h1 class="mt-5" style="display: flex; align-items: center; justify-content: center;">Parolamı Değiştir</h1>
    <div class="container">
        <label for="mail"><b>Kullanıcı Mail</b></label>
        <div class="form-group">
            <input type="email" id="email" name="email" formControlName="email" class="form-control"
                placeholder="Kullanıcı Mail" autofocus>
            <span class="help-block"
                *ngIf="changePasswordForm.get('email')?.hasError('required') && changePasswordForm.get('email')?.touched">
                Kullanıcı mail adresi girilmesi zorunludur.
            </span>
        </div>
        <button class="btn btn-lg btn-primary btn-block bg-dark" [disabled]="!changePasswordForm.valid"
            type="submit">Kaydet</button>
    </div>
</form>