<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    form {border: 3px solid #f1f1f1;}
    
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    .container {
      padding: 16px;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
    }
    </style>


<form [formGroup]="loginForm" (ngSubmit)="login()" class="form-login col-md-5" style="margin-top: 24px;left: 28%; top: 20%; position: absolute;">
    <h1 class="mt-5" style="display: flex; align-items: center; justify-content: center;">Giriş</h1>
    <div class="container">
        <label for="uname"><b>Kullanıcı Ad</b></label>
        <div *ngIf="invalidLogin" class="form-group">
            <input type="text" id="userName" name="userName" formControlName="userName" class="form-control" placeholder="Kullanıcı Ad"
                autofocus>
            <span class="help-block" *ngIf="loginForm.get('userName')?.hasError('required') && loginForm.get('userName')?.touched">
                Kullanıcı adı girilmesi zorunludur.
            </span>
        </div>
    
        <label for="psw"><b>Şifre</b></label>
        <div *ngIf="invalidLogin" class="form-group">
            <input type="password" id="password" name="password" formControlName="password" class="form-control"
                placeholder="Şifre">
            <span class="help-block"
                *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                Şifre girilmesi zorunludur.
            </span>
            <span class="help-block"
                *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
                Şifre en az 5 karakter boyutunda olmalıdır.
            </span>
            <span class="help-block"
                *ngIf="loginForm.get('password')?.hasError('maxlength') && loginForm.get('password')?.touched">
                Şifre en fazla 12 karakter boyutunda olmalıdır.
            </span>
    
        </div>
            
        <button class="btn btn-lg btn-primary btn-block bg-dark" [disabled]="!loginForm.valid" type="submit">Giriş</button>
        <!--<button class="btn btn-lg btn-primary btn-block bg-dark" (ngSubmit)="confirmEmail()" type="submit">Doğrula</button>-->
        <a class="nav-link" routerLink="/changePassword">Şifremi unuttum</a>
        
        <br>
        
      </div>
</form>